.contact {
  &__header {
    color: color(gray--dark);
    font-weight: 500;
    line-height: rem(48);

    margin: 0;

    &:after {
      @include underscore;
      background: color(red);
      margin-bottom: rem(21);
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 rem(18);
    padding: 0;
  }

  &__listItem {
    a {
      line-height: rem(48);
      font-weight: 400;
      // font-family: $merriweather;
      color: color(gray--dark)
    }
  }

  &__address {

  }

  // Form
  &__formWrapper {
    position: relative;
  }

  &__fieldset, &__submit {
    display: inline-block;
    margin-right: -4px;
  }

  &__fieldset {
    position: relative;

    input {
      display: inline-block;
      vertical-align: top;
      border: 2px solid color(red);
      padding: 0 12px;
      height: 64px;
      min-width: rem(180);

      @media screen and (min-width: break(md)) {
        min-width: rem(230);
        // padding: 24px 20px;
      }

      &:hover, &:active, &:focus {
        outline: none;
      }

      &:active, &:focus {
        & + .contact__label {
          // font-size: rem(14);
          // transform: translate(0, 0);
        }
      }
    }

    #mc_embed_signup & div.mce_inline_error {
      position: absolute;
      background-color: transparent;

      color: color(red);
      font-weight: 500;
      font-size: rem(15);
    }
  }

  &__label {
    display: block;
    position: absolute;
    top: 7px;
    left: rem(20);
    transform: translate(0, -50%);

    font-weight: 500;
    font-size: rem(18);
    color: color(gray--medium);
    transform: translate(0, 55%);
    transition: 0.15s;
    pointer-events: none;

    @media screen and (min-width: break(lg)) {
      left: rem(20);
    }

    &.is-active {
      font-size: rem(14);
      transform: translate(0, 0);
    }
  }

  &__submit {
    display: inline-block;
    vertical-align: top;
    border: 2px solid color(red);
    height: 68px;

    font-family: $montserrat;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 0 32px;
    color: color(white);
    background: color(red);
    outline: none;
    transition: 0.15s;

    &:hover, &:active, &:focus {
      cursor: pointer;
      background-color: color(red);
    }

    @media screen and (min-width: break(lg)) {
      // padding: 24px 32px;
      // height: 67px;
    }
  }
}
