.footer {
  background: color(red);
  padding: rem(60) 0;

  p, h6 {
    color: color(white);
  }

  h6 {
    line-height: rem(51);
  }

  h6:after {
    background: color(white);
  }

  p {
    font-weight: 300;
    strong {
      font-weight: 500;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__listItem {
    a {
      line-height: rem(24);
      font-weight: 300;
      font-size: rem(16);
      color: color(white)
    }
  }

  &__desc {
    padding-right: rem(0);
    font-size: rem(21);
    line-height: rem(30);

    @media screen and (min-width: break(lg)) {
      padding-right: rem(90);
    }
  }
}
