.home {
  &__bgVideoWrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
  }

  &__bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    // padding-bottom: 56.25%;
    min-height: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__textWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .flex {
      height: 100vh;
    }
  }

  &__text {
    & > p {
      margin: 0;
      color: color(white);
      font-weight: 300;
      font-size: rem(50);
      line-height: rem(50);

      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      strong {
        font-weight: 500;
      }

      @media screen and (min-width: break(md)) {
        font-size: rem(70);
        line-height: rem(70);
      }

      @media screen and (min-width: break(lg)) {
        font-size: rem(90);
        line-height: rem(90);
      }

      @media screen and (min-width: break(xl)) {
        font-size: rem(115);
        line-height: rem(115);
      }
    }
  }

  // Play Button
  &__play {
    display: block;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__playLink {
    position: relative;
    display: block;
    padding: rem(24);

    background: color(red);
    color: color(white);

    transition: 0.2s cubic-bezier(0.1, 0.1, 0.1,1);

    &:hover, &:active, &:focus {
      // transform: translate(4px, 0);
      .home__playSvg {
        fill: rgba(color(white), 1);
      }
    }
  }

  &__playSvg {
    display: block;
    width: rem(70);
    height: rem(70);
    fill: rgba(#fff, 0);
    stroke: color(white);
    stroke-width: 2;
    transition: 0.15s;
  }

  // Brand Video
  &__brandVideoWrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: rgba(20,20,20, 0.9);
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    transition: 0.15s;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__brandVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 100vh;
    max-width: break(xxl);
  }

  &__closeLink {
    position: absolute;
    right: rem(42);
    top: rem(42);

    &:hover {
      .home__closeSvg {
        path {
          fill: rgba(color(gray--dark), 1);
        }

        circle {
          fill: rgba(#fff, 1);

        }
      }
    }
  }

  &__closeSvg {
    display: block;
    width: rem(70);
    height: rem(70);

    path {
      fill: rgba(#fff, 1);
    }

    circle {
      stroke: color(white);
      stroke-width: 2;
      fill: rgba(#fff, 0);
    }

    * {
      transition: 0.15s;
    }
  }
}
