.home {
  &__bgVideoWrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
  }

  &__bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__bgPoster > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s;
  }

  &__bgPoster.is-hidden > img {
    opacity: 0;

  }

  &__bigLogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .flex {
      height: 100vh;
    }
  }

  // Play Button
  &__play {
    display: block;
    position: absolute;

    left: 50%;
    bottom: 0;

    transform: translate(-50%, 0);

    @media only screen and (min-width: break(md)) {
      left: auto;
      bottom: auto;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__playLink {
    position: relative;
    display: block;
    height: rem(92);
    width: rem(92);

    background: color(red);
    color: color(white);
    transition: 0.3s cubic-bezier(0.1, 0.1, 0.1,1);

    @media only screen and (min-width: break(md)) {
      width: rem(150);
      transform: translate(6px, 0);

      &:hover, &:active, &:focus {
        transform: translate(3px, 0);
        .home__playSvg {
          // fill: rgba(color(red), 1);
        }
      }
    }
  }

  &__playSvg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: rem(51);
    height: rem(51);
    fill: rgba(#fff, 1);
    stroke: color(red);
    stroke-width: 3;
    transition: 0.15s;

    @media only screen and (min-width: break(md)) {
      left: rem(24);
      transform: translate(0, -50%);
    }
  }

  // Brand Video
  &__brandVideoWrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: rgba(20,20,20, 0.9);
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
    z-index: 101;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__brandVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 100vh;
    max-width: break(xxl);
  }

  &__closeLink {
    position: absolute;
    right: rem(42);
    top: rem(42);

    &:hover {
      .home__closeSvg {
        path {
          fill: rgba(color(gray--dark), 1);
        }

        circle {
          fill: rgba(#fff, 1);
        }
      }
    }
  }

  &__closeSvg {
    display: block;
    width: rem(70);
    height: rem(70);

    path {
      fill: rgba(#fff, 1);
    }

    circle {
      stroke: color(white);
      stroke-width: 2;
      fill: rgba(#fff, 0);
    }

    * {
      transition: 0.15s;
    }
  }
}
