$nav-height: rem(105);

body.kill-scroll {
  // Disables body scrolling when menu is open
  // overflow: hidden;
}

.navigation {
  &__wrapper {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
  }

  &__hamburgerWrapper {
    position: relative;
    display: block;
    // padding: rem(66) rem(32) rem(48);
    width: rem(85);
    height: rem(100);
    background: transparent;
    border: 3px solid color(red);

    transform: translate(0, -6px);
    transition: 0.3s cubic-bezier(0.1, 0.1, 0.1,1);

    &:hover {
      transform: translate(0, -3px);
    }

    body.page-template-case-study-list-blade & {
      // border: 3px solid color(white);
    }

    &:hover .navigation__hamburger {
      &:after { transform: translate(0, 0px); }
      &:before { transform: translate(0, 0px); }
    }
  }

  &__hamburger {
    display: block;
    position: absolute;
    bottom: rem(33);
    left: 50%;
    transform: translate(-50%, 0);

    height: 3px;
    width: rem(40);
    background: color(red);

    body.page-template-case-study-list-blade & {
      // background: color(white);
    }

    &:after, &:before {
      display: block;
      content: "";
      position: absolute;
      height: 3px;
      width: rem(40);
      background: color(red);
      transition: 0.15s;

      body.page-template-case-study-list-blade & {
        // background: color(white);
      }
    }

    &:after {
      top: -11px;
    }

    &:before {
      top: 11px;
    }
  }

  &__bar {
    float: right;
    position: relative;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: radial-gradient(center, rgba(color(red), 0.92) 0%, rgba(color(red), 0.95) 100%);
    z-index: 100;

    opacity: 0;
    pointer-events: none;

    transition: 0.3s;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      overflow: hidden;
    }

    .flex {
      height: 100%;
    }

    ul {
      list-style-type: none;
      margin: 0;
      text-align: center;
    }

    ul > li { }

    ul > li > a {
      position: relative;
      display: inline-block;
      padding: rem(27) 0;
      margin: rem(18);

      color: color(white);
      font-size: rem(27);
      text-transform: uppercase;
      font-weight: 300;

      overflow: hidden;

      @media only screen and (min-width: break(md)) {
        font-size: rem(60);
        padding: rem(50) 0;
      }

      &:hover, &:active, &:focus {
        // background: color(white);
        // color: color(red);
        cursor: pointer;
        text-decoration: none;

        &:before, &:after {
          transform: scaleX(1);
        }
      }

      &:before, &:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        transform: scaleX(0);
      }

      &:before {
        background: rgba(#000, 0.1);
        transition: 0.3s cubic-bezier(0.1, 0.1, 0.1,1);
      }

      &:after {
        background: color(white);
        transition: 0.35s 0.1s cubic-bezier(0.1, 0.1, 0.1,1);
      }
    }
  }

  &__closeLink {
    position: absolute;
    right: rem(42);
    top: rem(42);

    &:hover {
      .navigation__closeSvg {
        path {
          fill: rgba(color(red), 1);
        }

        circle {
          fill: rgba(#fff, 1);

        }
      }
    }
  }

  &__closeSvg {
    display: block;
    width: rem(70);
    height: rem(70);

    path {
      fill: rgba(#fff, 1);
    }

    circle {
      stroke: color(white);
      stroke-width: 2;
      fill: rgba(#fff, 0);
    }

    * {
      transition: 0.15s;
    }
  }
}
