// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


html {
  color: color(gray--dark);
}

body {
  font:{
    family: $montserrat;
    weight: 400;
  }
  line-height: 2em;
}

html, body {
  font-size: 11px;

  @media only screen and (min-width: break(md)) {
    font-size: 12px;
  }

  @media only screen and (min-width: break(xxl)) {
    font-size: 13px;
  }
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

a {
  color: color(red);
  transition: 0.15s;
  text-decoration: none;

  &:hover {
    color: color(red);
    text-decoration: underline;;
  }
}

p {
  color: color(p);
}

%header {
  margin-top: 0;
  margin-bottom: rem(18);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: color(gray--dark);
  // text-transform: uppercase;

  font:{
    family: $montserrat;
    weight: 400;
  }

  line-height: 1em;

  *+& {
    // Adds a little top padding to headers, unless it is first child
    // padding-top: rem(3);
  }

  &::selection{
    //color: #000;
  }

  strong {
    font-weight: 600;
  }
}

// Header Sizing
$headers: (h1: 57, h2: 38, h3: 27, h4: 22, h5: 18, h6: 18);

@each $header, $size in $headers {
  #{$header} {
    @extend %header;
    font-size: rem($size);
  }
}

code, pre {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 4px 5px;
  border-radius: 2px;

  white-space: nowrap;
  line-height: 1.5em;
}

.text-thinHeader {
  // font-weight: 200;
}

.text-center {
  text-align: center;
}
