@import "common/normalize";
@import "common/variables";
@import "common/functions";
@import "common/base";
@import "common/typography";
@import "common/grid";
@import "common/helpers";

@import "layouts/view";

@import "components/navigation";
@import "components/home";
@import "components/contact";
@import "components/slider";


.navOffset {
  padding-top: $nav-height * 2;
}

.panel {
  padding: rem(60) 0;

  &--gray {
    background: color(gray--dark);

    h1, p, a {
      color: color(gray);
    }

    h2, h3, h4, h5, h6 {
      color: color(gray--medium);
    }
  }
}
